@page
@model MyCartModel
<h2>Your cart</h2>
<table class="table table-bordered">
    <thead class="thead-light">
        <tr>
            <th>Số lượng</th>
            <th>Sản phẩm </th>
            <th class="text-right">Giá bán</th>
            <th class="text-right">Tổng phụ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.myCart.Lines)
        {
        <tr>
            <td class="text-center">@line.Quantity</td>
            <td class="text-left">@line.Book.Title</td>
            <td class="text-right">@line.Book.Price.ToString("c")</td>
            <td class="text-right">
                @((line.Quantity * line.Book.Price).ToString("c"))
            </td>
            <td class="text-center">
                <form asp-page-handler="Remove" method="post">
                    <input type="hidden" name="BookID"
                           value="@line.Book.BookID" />
                    <input type="hidden" name="returnUrl"
                           value="@Model.ReturnUrl" />
                    <button type="submit" class="btn btn-sm btn-danger">
                        X
                    </button>
                </form>
            </td>
        </tr>
        }
    </tbody>
    <tfoot>

        <tr>
            <td colspan="3" class="text-right">Tổng cộng:</td>
            <td class="text-right">
                @Model.myCart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-info" href="@Model.ReturnUrl">Tiếp tục mua sắm </a>
    <a class="btn btn-info" asp-action="Checkout" asp-controller="Order">
        Thanh toán ngay
    </a>
</div>
